<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<title>管理者ページ</title>
<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/AdminPage.css}">
<link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.7.0/css/all.css}">
<script type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.js}"></script>
</head>
<body>
	<div class="container-fluid">
		<header>
				<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-dark">
						<div class="navbar-collapse collapse" id="navbarSupportedContent">
							<ul class="navbar-nav mr-auto">
								<li class="nav-item">
									<a class="nav-link text-white" th:href="@{/}">SYSENC</a>
								</li>
							</ul>
							<div class="dropdown ml-auto">
								  <a href="#" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								  	<img class="img-thumbnail" src="/img/avatar-boy.png" height="32px" width="32px">
								  	<span class="text-white">&nbsp;佐藤</span>
								  </a>
								  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
									<a class="dropdown-item" href="#">プロファイル</a>
									<a class="dropdown-item" href="#">ログアウト</a>
								  </div>
							</div>
						</div>
				</nav>
		</header>

		<div class="list-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="form-outer">
							<form class="form-inline" th:action="@{/page/1}" method="GET">
								<div class="form-group">
									<label for="search_name">氏名</label>
									<input type="text" class="form-control" id ="search_name" name="fullName">
								</div>
								<div class="form-group">
									<label for="search_address">住所</label>
									<input type="text" class="form-control" id ="search_address" name="address">
								</div>
								<div class="form-group">
									<label for="search_comment">コメント</label>
									<input type="text" class="form-control" id ="search_comment" name="comment">
								</div>
								<button type="submit" class="btn btn-success"><i class="fas fa-search"></i>&nbsp;&nbsp;検索</button>
							</form>
						</div>
					</div>
				</div>
				<div class="row">
						<div class="col-12">
							<th:block th:with="partitions=${T(org.apache.commons.collections4.ListUtils).partition(engineerInformationViewModel.engineerInfoList,3)}">
								<div class="row py-5" th:each="partition:${partitions}">
									<div class="col-sm-4" th:each="ei:${partition}">
										<div class="card avatar-card">
											<div class="avatar-image text-center" th:if="${ei.gender == '男'}">
												<img src="/img/avatar-boy.png">
											</div>
											<div class="avatar-image text-center" th:if="${ei.gender == '女'}">
												<img src="/img/avatar-girl.png">
											</div>
											<div class="card-body">
												<div class="text-info float-left">
													<h4 class="card-title"><a class="text-success" th:href="@{/engineerProfile/engineerId=}+${ei.engineerId}">[[${ei.fullName}]]</a></h4>
													<h6 class="card-text">[[${ei.phoneNumber}]]</h6>
													<h6 class="card-text">[[${ei.registerDate}]]</h6>
												</div>
												<div class="file-icon text-right">
													<i class="fa fa-file-excel text-success"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</th:block>
							<div class="row">
							    <div class="col-md-12">
							    	<div class="text-center">
							    		<nav class="d-inline-block">
							    			<ul class="pagination">
							    				<li class="page-item" th:each="i:${#numbers.sequence(1,totalPages)}"><a class="page-link" th:href="@{/page/}+${i}">[[${i}]]</a></li>
							    			</ul>
							    		</nav>
									</div>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>