<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<title>エンジニアの登録</title>
<link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="../css/complete.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
		<div class="row row-main">
			<div class="col-10">
					<h1 class="text-center"><i class="fas fa-check-circle text-success"></i></h1>
			</div>
			<div class="col-12">
					<h1>ご登録ありがとうございました。</h1>
			</div>
		</div>
    </div>
</body>
</html>