<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<title>管理者ページ</title>
<link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="../css/engineerProfile.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/bootstrap/bootstrap.js"></script>
</head>
<body style="background: #F0F0F0 !important">
	<div class="container-fluid">
		<header>
				<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-dark">
						<div class="navbar-collapse collapse" id="navbarSupportedContent">
							<ul class="navbar-nav mr-auto">
								<li class="nav-item">
									<a class="nav-link text-white" href="#">SYSENC</a>
								</li>
							</ul>
							<ul class="navbar-nav ml-auto">
								<li class="nav-item">
									<a class="nav-link" href ="#"><img class="img-thumbnail" src="/img/avatar-boy.png" height="32px" width="32px"><span class="text-white">&nbsp;佐藤</span></a>
								</li>
							</ul>
						</div>
				</nav>
		</header>

		<div class="container-inner-wrapper">
			<div class="row">
				<div class="col-2">
						<div class="card">
							<div class="avatar-outer">
								<img src="/img/avatar-girl.png">
							</div>
							<div class="card-body">
									<div class="card-title"></div>
									<p class="card-text"></p>
							</div>
						</div>
				</div>
				<div class="col-9">
					   <div class="row">
							<h4 class="col-12"><i class="fas fa-user"></i>About</h4>
							<div class="col-6">
								<form action="#" method="POST">
									<ul class="engineer-about">
										<li>名前
										<input type="text">
										</li>
										<li>メールアドレス
											<input type="text">
										</li>
										<li>スキル
											<input type="text">
										</li>
										<li>電話番号
											<input type="text">
										</li>
										<li>住所
											<input type="text">
										</li>
										<li>コメント
											<input type="text">
										</li>
									</ul>
								</form>
							</div>
						</div>
						<hr></hr>
						<div class="row">
							<h5 class="col-12"><i class="fas fa-file"></i>スキルシート</h5>
							<img src="/img/skills.png" width="300px" height="300px">
						</div>
				</div>
			</div>
			</th:block>
		</div>
	</div>
</body>
</html>