<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org" xmlns:sec="http://www.thymleaf.org/thymleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<title>sysenc</title>
<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/index.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/bootstrap/bootstrap.js}"></script>
</head>
<body>
	<p><a th:href="@{/}">back to home page</a></p>
</body>
</html>